[defaults]
inventory = inventory.yml
remote_user = ansible-user
ansible_port = 22
private_key_file = ~/.ssh/id_ed25519
; Чтобы не проверялись ssh ключи
host_key_checking = False

; С помощью этих путей мы можем использовать роли и коллекции из локальной директории .ansible/roles и .ansible/collections
; Для команды достаточно:
; ansible-galaxy role install -r requirements.yml
roles_path = ./roles:../.ansible/roles
collections_paths = ../.ansible/collections

; Красивый вывод для отладки
stdout_callback = debug

; Указываем путь к Python
interpreter_python = auto_silent

[privilege_escalation]
become_method = sudo
become_user = root
become_ask_pass = False
become_password_file = ./sudo_password_file


